@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0px;
    padding: 0px;


}

html {
    height: 100%;

}

body {
    min-width: 467px;
    min-height: 710px;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;

}

header {
    background-color: #A8A7A8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#logo {
    padding: 5px 15px 5px 20px;
    position: relative;
    left: 50px;
    width: 50%;
}

nav {
    position: relative;
    right: 50px;
    font-family: 'Roboto',
        sans-serif;


}

a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 0px 5px 0px 5px;

}

a:hover {
    font-size: 21px;
    color: white;
    text-decoration: underline;
}

#hero {
    display: inline-block;
    position: relative;
}

/*conteudo*/
main {
    display: flex;
    flex-direction: column
}

.tituloPrincipal {
    margin: 30px 0px 30px 0;
    padding: 30px 5px 30px 5pxz;
    text-align: center;
    font-size: 30px;
    font-style: none;
    font-weight: normal
}

.tituloPrincipal:before {
    content: " [ ";
    font-weight: 100px;
}

.tituloPrincipal:after {
    content: " ] ";
    font-weight: 100px;

}




p {
    font-size: 21px;

    padding: 30px 30px 30px 30px;
}

.principal strong {
    font-style: bold;
}

.principal em {
    font-style: italic;
}






#utensilios {

    float: left;
    width: 150px;
    margin: 0px 30px 10px 30px;
}


#mapa {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


#mapa {

    padding: 30px;


}

#beneficios {
    padding: 30px;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#beneficios-li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

ul {
    margin: px
}

.itens {
    font-size: 21px;
    margin: 15px 15px;

}

.itens:before {
    content: " 🟊 ";

}

.itens:first-child {
    font-weight: bold;
}



#imagensBeneficios {

    width: 40%;
    opacity: 1;
    margin: 0;
    -webkit-box-shadow: 9px 12px 17px 2px #000000;
    box-shadow: 9px 12px 17px 2px #000000;

}

#imagensBeneficios:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
}

#video {
    width: 800px;
    height: 500px;
    margin: 40px 0px 40px 0;
}

main {
    background: rgb(242, 242, 242);

}

/*conteudo*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    background-color: #181718;
    margin-top: 10px;
    padding: 10px;
    margin-top: auto;
}

.insidetxt {
    padding: 10px 0 10px 0;
    text-align: center;
    width: 170px;

}

#pfooter {
    font-size: 20px;
    padding: 30px 0px 30px 0px;
}

footer img {
    width: 15%;
}


#banner {

    width: 100%;

}

@media screen and (max-width: 858px) {
    nav {
        display: flex;
        flex-direction: column
    }

    #beneficios-li {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    #imagensBeneficios {

        width: 90%;
        opacity: 1;
        margin: 0;
        -webkit-box-shadow: 9px 12px 17px 2px #000000;
        box-shadow: 9px 12px 17px 2px #000000;

    }

    #video {
        width: 650px;
        height: 350px;
        margin: 40px 0px 40px 0;
    }
}

@media screen and (max-width: 642px) {
    nav {
        display: flex;
        flex-direction: column
    }

    #beneficios-li {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

    }

    #imagensBeneficios {

        width: 90%;
        opacity: 1;
        margin: 0;
        -webkit-box-shadow: 9px 12px 17px 2px #000000;
        box-shadow: 9px 12px 17px 2px #000000;

    }

    #video {
        width: 500px;
        height: 300px;
        margin: 40px 0px 40px 0;
    }
}

@media screen and (max-width: 500px) {
    #video {
        width: 460px;
        height: 300px;
        margin: 40px 0px 40px 0;
    }

    .tituloPrincipal {




        font-style: none;
        font-weight: normal
    }
}