@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    margin: 0px;
    padding: 0px;


}

html {
    height: 100%;

}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;

}

header {
    background-color: #A8A7A8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#logo {
    padding: 5px 15px 5px 20px;
    position: relative;
    left: 50px;
    width: 50%;
}

nav {
    font-family: 'Roboto',
        sans-serif;
    position: relative;
    right: 150px;
}

a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 0px 5px 0px 5px;

}

a:hover {
    font-size: 21px;
    color: white;
    text-decoration: underline;
}

#hero {
    display: inline-block;
    position: relative;
}

/*conteudo*/
main {
    display: flex;
    flex-direction: column
}

.tituloPrincipal {
    padding: 30px;
    text-align: center;
    font-size: 2em;
    font-style: none;
    font-weight: normal
}

.tituloPrincipal:before {
    content: " [ ";
    font-weight: 100px;
}

.tituloPrincipal:after {
    content: " ] ";
    font-weight: 100px;

}




p {
    font-size: 21px;

    padding: 30px 30px 30px 30px;
}

.principal strong {
    font-style: bold;
}

.principal em {
    font-style: italic;
}






#utensilios {

    float: left;
    width: 150px;
    margin: 0px 30px 10px 30px;
}


#mapa {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


#mapa {

    padding: 30px;


}

#beneficios {
    padding: 30px;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#beneficios-li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.itens {
    font-size: 21px;
    margin: 15px 15px;

}

.itens:before {
    content: " 🟊 ";

}

.itens:first-child {
    font-weight: bold;
}



#imagensBeneficios {
    padding: 40px;
    width: 40%;
    margin: 0;

}

#video {
    padding: 30px
}

main {
    background: rgb(242, 242, 242);
    background: linear-gradient(180deg, rgba(242, 242, 242, 1) 43%, rgba(82, 82, 82, 1) 100%);
}

/*conteudo*/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    background-color: #181718;
    margin-top: 10px;
    padding: 10px;
    margin-top: auto;
}

.insidetxt {
    padding: 10px 0 10px 0;
    text-align: center;
    width: 170px;

}

#pfooter {
    font-size: 20px;
    padding: 30px 0px 30px 0px;
}

footer img {
    width: 15%;
}


#banner {

    width: 100%;

}